<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/25/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [1]:
# write your answer here
len("UNT")

3

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [2]:
# write your answer here
print({char:"google.com".count(char) for char in "google.com"})

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [3]:
# write your answer here
sum([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

55

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [4]:
string = "restart"
print(string[0]+string[1:].replace(string[0], "$"))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [5]:
# write your answer here
def S(a, b):
    return 3.14*((1+(a/b))**3)

S(3, 5)

12.861440000000004

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [6]:
# write your answer here
dict1 = {1:10, 2:20}
dict2 = {3:30, 4:40}
dict3 = {5:50, 6:60}
con_dict = dict()
con_dict.update(dict1)
con_dict.update(dict2)
con_dict.update(dict3)
print(con_dict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [7]:
# write your answer here
def search(tuple_, element):
    if element in tuple_:
        return True
    else:
        return False

S=search([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 9)

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [8]:
# write your answer here
set_ = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print("maximum: {}\nminimum: {}".format(max(set_), min(set_)))

maximum: 10
minimum: 1

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [9]:
# write your answer here
student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386','ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
import random
n = int(len(student_list)/6)
random.shuffle(student_list)
[student_list[i:i+n] for i in range(0, len(student_list), n)]

[['nv0234', 'sa1198', 'jl1252', 'sc1229', 'sm1907'],
 ['sk1313', 'gn0108', 'ak0934', 'sb1357', 'hy0232'],
 ['dr0609', 'ms1500', 'ds0814', 'sk1390', 'sk1386'],
 ['kg0470', 'aos0040', 'pr0353', 'ak0956', 'sk1458'],
 ['av0659', 'vm0377', 'vb0218', 'nm0618', 'sm1640'],
 ['bg0320', 'fh0141', 'ja0964', 'sg1297', 'kg0569']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [10]:
# write your answer here
def duplicateElement(array):
    return -1 if len(array) == len(set(array)) else 0

duplicateElement([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

-1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [11]:
# write your answer here
import pandas as pd

def sundaysList(year):
    return pd.date_range(start=str(year), end=str(year+1), freq='W-SUN').strftime('%m/%d/%Y').tolist()

sundaysList(2022)

['01/02/2022',
 '01/09/2022',
 '01/16/2022',
 '01/23/2022',
 '01/30/2022',
 '02/06/2022',
 '02/13/2022',
 '02/20/2022',
 '02/27/2022',
 '03/06/2022',
 '03/13/2022',
 '03/20/2022',
 '03/27/2022',
 '04/03/2022',
 '04/10/2022',
 '04/17/2022',
 '04/24/2022',
 '05/01/2022',
 '05/08/2022',
 '05/15/2022',
 '05/22/2022',
 '05/29/2022',
 '06/05/2022',
 '06/12/2022',
 '06/19/2022',
 '06/26/2022',
 '07/03/2022',
 '07/10/2022',
 '07/17/2022',
 '07/24/2022',
 '07/31/2022',
 '08/07/2022',
 '08/14/2022',
 '08/21/2022',
 '08/28/2022',
 '09/04/2022',
 '09/11/2022',
 '09/18/2022',
 '09/25/2022',
 '10/02/2022',
 '10/09/2022',
 '10/16/2022',
 '10/23/2022',
 '10/30/2022',
 '11/06/2022',
 '11/13/2022',
 '11/20/2022',
 '11/27/2022',
 '12/04/2022',
 '12/11/2022',
 '12/18/2022',
 '12/25/2022',
 '01/01/2023']